div {
  border-radius: 15px;
  padding: 1%;
  color: white;
  
}

li {
  list-style-type: none;
  text-align: left;
  margin: 35px;
  font-family: 'Courier New', Courier, monospace;
}
 
.YouNeedToKnow {
  background-image: url("https://images.unsplash.com/photo-1453227588063-bb302b62f50b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
  background-size: cover;
  background-position: right;
  background-repeat:no-repeat;
}

.YouNeedToKnowText {
  width: 50%
}

.home {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1534361960057-19889db9621e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
}

.buttonPosition{
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: #a5616d;
}

.AllDogs {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  gap: 10px;
}

.EachDog {
  border: 2px snow dashed;
  text-align: center;

}

h2{
  font-size: 20px;
  font-weight: lighter;
}

h3{
  text-align: center;
  font-size: smaller;
  margin: 0px;
  font-weight: unset;
}

.App{
  background-color: #C4C4D2;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 300px  2fr;
  grid-template-rows: 125px 4fr 120px;
  grid-template-areas: 
  "Header  Header" 
  "Sidebar  .. " 
  "Footer  Footer";
}

img{
  border-radius: 15px;
  border: rgb(94, 92, 92) 4px solid;
  height: 200px;
  width: 250px;

}

.stats {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

.Header{
  background-image: url("https://m.media-amazon.com/images/I/51DgB8lONoL._AC_SX466_.jpg");
  background-color: #4D6E9B;
  grid-area: Header;
  text-align: center;
  color: #a5616d;
  font-size: 25px;
  font-weight: bold;
}

.Sidebar{
  background-color: #EEB5BF;
  grid-area: Sidebar;
  font-weight: bold;
  box-shadow: 3px 3px 2px #a5616d;
}

.Footer{
  background-image: url("https://images.unsplash.com/photo-1529472119196-cb724127a98e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=621&q=80");
  /* background-color: #a5616d; */
  grid-area: Footer;
  background-size: cover;
  background-position:bottom;
  background-repeat:no-repeat;
}

button{
  background-color: #EEB5BF;
  border-radius: 5px;
  color: #a5616d;
  cursor: pointer;
  height: 30px;
  width: 70px;
}



#submit {
  background-color: #EEB5BF;
  border-radius: 5px;
  color: #a5616d;
  cursor: pointer;
  height: 30px;
  width: 70px;
  margin: 5px;
  text-align: center;
}

#form {
  display: flex;
  flex-direction: column;
  width: 300px;
  
}

/* WON"T WORK!?!?!?! */
/* .meetme{
  margin: 55px;
  background-color: black;
  text-align: center;
} */

.success-message {
  text-align: center;
  background-color: rgb(94, 92, 92);
  width: 500px;
}


